@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('https://wallpapercave.com/wp/wp5756393.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content{
    width: 862px;
    height: 278px;
    margin:  auto;
    flex-wrap: wrap ;
    padding: 27px;
    color: white;
} 
h3{
    margin-top: 200px;
    margin-bottom: 22px;
    text-align: center;
    font-family: 'Lisu Bosa', serif;
    font-size: 27px;
}
p{
    text-align: center;
    font-family: 'Borel', cursive;
    font-size: 17px;
    font-weight: bold;
}